openapi: 3.2.0
info:
  title: KEGG REST Link API
  description: The Kyoto Encyclopedia of Genes and Genomes (KEGG) REST API provides programmatic access to KEGG databases covering biological pathways, metabolic networks, molecular interactions, drug targets, disease associations, chemical compounds, genomic sequences, and functional orthologs across thousands of organisms.
  version: 1.0.0
  contact:
    name: KEGG Support
    url: https://www.kegg.jp/kegg/feedback.html
  termsOfService: https://www.kegg.jp/kegg/legal.html
  license:
    name: Academic Use Only
    url: https://www.kegg.jp/kegg/legal.html
servers:
- url: https://rest.kegg.jp
  description: KEGG REST API server
tags:
- name: Link
  description: Find related entries using database cross-references
paths:
  /link/{target_db}/{source_db}:
    get:
      operationId: linkDatabases
      summary: Find cross-references between databases
      description: Find related entries between two KEGG databases using cross-references. Returns tab-delimited text listing relationships between entries in the source and target databases.
      tags:
      - Link
      parameters:
      - name: target_db
        in: path
        required: true
        description: 'Target KEGG database. Supported: pathway, brite, module, ko, genes, genome, compound, glycan, reaction, rclass, enzyme, disease, drug, dgroup, network, variant, and organism codes.

          '
        schema:
          type: string
          example: pathway
      - name: source_db
        in: path
        required: true
        description: 'Source KEGG database or organism code.

          '
        schema:
          type: string
          example: hsa
      responses:
        '200':
          description: Tab-delimited cross-reference relationships
          content:
            text/plain:
              schema:
                type: string
              example: "hsa:10458\tpath:hsa04010\nhsa:10458\tpath:hsa04012\n"
        '400':
          description: Bad request
        '404':
          description: Not found
  /link/{target_db}/{dbentries}:
    get:
      operationId: linkEntries
      summary: Find cross-references for specific entries
      description: Find related entries in a target KEGG database for specific source entries. Returns tab-delimited cross-reference relationships. Up to 10 entries per request. RDF output formats (turtle, n-triple) are also supported via the option parameter.
      tags:
      - Link
      parameters:
      - name: target_db
        in: path
        required: true
        description: Target KEGG database
        schema:
          type: string
      - name: dbentries
        in: path
        required: true
        description: 'One or more source entry identifiers separated by plus signs. Maximum 10 entries per request.

          '
        schema:
          type: string
          example: cpd:C00031+cpd:C00033
      responses:
        '200':
          description: Tab-delimited cross-reference relationships
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad request
        '404':
          description: Not found
externalDocs:
  description: KEGG API Documentation
  url: https://www.kegg.jp/kegg/rest/keggapi.html
